<div class="header">
  <h1>Volunteer</h1>
  <h3>OREGON</h3>
  <h5>Volunteer in Your Community</h5>
</div>

<div class="card-holder">
  <div *ngFor="let meetup of meetups | async" class="volunteerDiv">
    <!-- <div class="row"> -->
      <div class="card col-lg-4">
        <div class="banner">
          <a href={{meetup.siteUrl}}><p class="title">{{meetup.title}}<p></a>
        </div>
        <p>{{meetup.description}}</p>
        <div class="flex-container">
          <div class="flex-item">
            <div class="image">
              <img src={{meetup.image}}>
            </div>
            <div>
              <ul class="infoList">
                <li><span class="redText">Date</span>: {{meetup.date}} </li>
                <li><span class="redText">Time</span>: {{meetup.time}}</li>
                <li><span class="redText">Location</span>: {{meetup.detailedLocation}} </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
