<h1>ACT</h1>
<h3>OREGON</h3>
<div *ngFor="let issue of issues | async">

  <div class="container">
    <div class="card">
      <div class="banner">
        <p class="headline">social issue:</p>
        <p class="issue">{{issue.issue}}<p>
      </div>
      <h5 id="aboutTheIssue">About the issue:</h5>
      <p>{{issue.description}}<a href="{{issue.hyperlink}}"><em> Source</em></a></p>

      <h5 id="whoToContact">Who to contact:</h5>
      <div class="flex-container">
        <div class="flex-item">
          <img src="{{issue.image}}" style=" width: 15.625em;
          height: 15.625em;
          border-radius: 50%;
          background-position: center;
          background-size: cover;">
          <div>
            <ul class="infoList">
              <li><span class="label">Name:  </span>{{issue.name}}</li>
              <li><span class="label">Title: </span>{{issue.title}} </li>
              <li><span class="label">State: </span>{{issue.state}} </li>
              <li><span class="label">Phone: </span>{{issue.phone}} </li>
              <li><span class="label">Email: </span>{{issue.email}} </li>
              <li><span class="label">Address:  </span>{{issue.address}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="whatTo">
        <h5>Helpful tips on what to say/write:</h5>
        <button type="button" (click)="showScript()" class="waves-effect waves-light btn" *ngIf="buttonIsShowing">Show Script</button>
        <div class="callScript" *ngIf="scriptIsShowing">
          <p>
            A) ASK FOR THE RIGHT PERSON FOR YOUR ISSUE:
            When calling the DC office, ask for the Staff member in charge of whatever you're calling about ("Hi, I'd like to speak with the staffer in charge of {{issue.issue}}, please").
            Local offices won't always have specific ones, but they might. If you get transferred to that person, awesome. If you don't, that's ok - ask for their name, and then just keep talking to whoever answered the phone. Don't leave a message (unless the office doesn't pick up at all - then you can...but it's better to talk to the staffer who first answered than leave a message for the specific staffer in charge of your topic).
          </p>
          <p>
            B) Give them your ZIP CODE.
            They won't always ask for it, but make sure you give it to them, so they can mark it down. Extra points if you live in a zip code that traditionally votes for them, since they'll want to make sure they get/keep your vote.
          </p>
          <p>
            C) If you can MAKE IT PERSONAL, make it personal.
            "I voted for you in the last election and I'm worried/happy/whatever" or "I'm a teacher, and I am appalled by Betsy DeVos," or "as a single mother" or "as a white, middle class woman," or whatever.
          </p>
          <p>
            D) Pick 1-2 SPECIFIC THINGS EACH CALL to focus on per day.
            Don't go down a whole list - they're figuring out what 1-2 topics to mark you down for on their lists. So, focus on 1-2 per day. Ideally something that will be voted on/taken up in the next few days, but it doesn't really matter - even if there's not a vote coming up in the next week, call anyway. It's important that they just keep getting calls.
          </p>
          <p>
            E) BE CLEAR on what you want:
            "I'm disappointed that the Senator..." or "I want to THANK the Senator for their vote on..." or "I want the Senator to know that voting in _____ way is the wrong decision for our state because..." Don't leave any ambiguity.
          </p>
          <p>
            F) CALLING WILL START TO FEEL NATURAL:
            They may get to know your voice/get sick of you - it doesn't matter. The people answering the phones generally turn over every 6 weeks anyway, so even if they're really sick of you, they'll be gone in 6 weeks.
            From experience since the election: If you hate being on the phone and feel awkward (which is a lot of people) don't worry about it - THERE ARE A BUNCH OF SCRIPTS (Indivisible has some, there are lots of others floating around these days). After a few days of calling, it starts to feel a lot more natural.
          </p>
          <button type="button" (click)="hideButton()" class="waves-effect waves-light btn">Hide Script</button>
        </div>
      </div>
    </div>
  </div>
</div>
