//fonts
$header-font: 'Fjalla One', sans-serif;
$body-font: 'Lato', sans-serif;

//colors
$blue: #1ef3f1;
$red: #FF0009;

//media queries
$break-sm: 480px; //max
$break-md: 768px; //max
$break-lg: 1098px; //max
$break-xl: 1099px; //min


h1, h3 {
  text-align: center;
  font-family: $header-font;
}

h1 {
  margin-top: 5%;
  @media screen and (max-width: $break-lg) {
    margin-top: 3%;
  }
  @media screen and (max-width: $break-sm) {
    margin-bottom: 3%;
  }
}

h3 {
  background-color: $blue;
  padding: 10px;

  @media screen and (max-width: $break-sm) {
    margin-top: 0;
  }
}

.container {
  display: flex;
  justify-content: center;
  font-size: 1.1em;

  .card {
    width: 90vw;
    min-height: 50em;
    border: 1px solid black;
    margin-top: 100px;
    position: relative;
    padding: 5em 2em 2em 2em;

    @media screen and (max-width: $break-lg) {
      margin-top: 65px;
      padding: 3em 1.5em 1.5em 1.5em;
    }

    @media screen and (max-width: $break-sm) {
      margin-top: 45px;
      height: 75em;
      padding-top: 5.5em;
    }

    @media screen and (max-width: $break-md) {
      margin-top: 55px;
      padding-top: 5.5em;
    }

    #aboutTheIssue {
      margin-top: .5em;
      @media screen and (max-width: $break-lg) {
        margin-top: 1.6em;
      }
      @media screen and (max-width: $break-sm) {
        margin-top: .5em;
      }
    }

    #whoToContact {
      margin-top: 1.5em;
    }

    a {
      color: $red;
    }

    .flex-container {
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: row;
     flex-direction: row;
     -webkit-align-items: center;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     margin-left: auto;
     margin-right: auto;

     @media screen and (max-width: $break-sm) {
       // display:none;
     justify-content: flex-start;
     flex-wrap: wrap;

     }

        .flex-item {
        display:flex;
        align-items: center;
        justify-content: center;
        height: 20em;
        width: 100%;
        border: 1px solid black;
        margin: 3px;
        padding: 20px;
        width: 100%;

        @media screen and (max-width: $break-sm) {
        justify-content: center;
        flex-wrap: wrap;
        height: 32em;

        }
          .image {
            width: 15.625em;
            height: 15.625em;
            border: 1px solid black;
            border-radius: 50%;
            background-image: url('assets/image/merkeley.jpg');
            background-position: center;
            background-size: cover;
          }

          .infoList {
            margin-left: 2em;

            @media screen and (max-width: $break-sm) {
            justify-content: flex-start;
            flex-wrap: wrap;
            }

            li {
              margin-bottom: 1em;

              @media screen and (max-width: $break-sm) {
                margin-bottom: .4em;

              }
              .label {
                font-family: $header-font;
                font-weight: bold;
              }
            }
          }

          img {
            flex-grow: 0;
            flex-shrink: 2;
            border-radius: 50%;
          }
        }
      }


    .banner {
      text-align: center;
      padding: 8px 20px;
      position: absolute;
      width: 60vw;
      height: 6em;
      border: 1px solid $blue;
      top: -30px;
      left: 50%;
      margin-left: -30vw;
      background-color: white;
      border-top: 8px solid $blue;

      @media screen and (max-width: $break-sm) {
        left: 50%;
      }

      p {
        margin: 0;
        font-family: $body-font;
      }
      .issue {
        font-family: $header-font;
        letter-spacing: 1px;
        font-size: 25px;
        @media screen and (max-width: $break-sm) {
          font-size: 19px;
          letter-spacing: 0;
        }
      }
    }

    .whatTo {
      margin-top: 2em;
      width: 100%;

      .buttons {

        @media screen and (max-width: $break-sm) {
          width: 100%;
        }
        @media screen and (max-width: $break-md) {
          width: 100%;
        }

        &:first-of-type {
          margin-bottom: 20px;
        }

        .btn {
          background-color: darken($blue, 10%);
          color: white;
          padding: .75em;
          width: 40%;

          @media screen and (max-width: $break-sm) {
            font-size: 12px;
          }

          @media screen and (max-width: $break-md) {
            font-size: 15px;
          }
        }

        h5 {
          @media screen and (max-width: $break-sm) {
            font-size: 18px;
          }

          @media screen and (max-width: $break-md) {
            font-size: 20px;
          }
        }

        h5, a {
        display: inline;
        }
      }
    }
  }
}
