<h1>ACT</h1>
<h3>OREGON</h3>
<div *ngFor="let issue of issues | async">

  <div class="container">
    <div class="card">
      <div class="banner">
        <p class="headline">social issue:</p>
        <p class="issue">{{issue.issue}}<p>
      </div>
      <h5>About the issue:</h5>
      <p>{{issue.description}} <a href="{{issue.hyperlink}}"><em>Source</em></a></p>
      <h5>Who to contact:</h5>

      <div class="flex-container">
        <div class="flex-item">
          <img src="{{issue.image}}">
          <div>
            <ul class="infoList">
              <li>Name: {{issue.name}}</li>
              <li>Title: {{issue.title}}</li>
              <li>State: {{issue.state}}</li>
              <li>Phone: {{issue.phone}}</li>
              <li>Email: {{issue.email}} </li>
              <li>Address: {{issue.address}}</li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>

  </div>
