<h1>ACT</h1>
<h3>OREGON</h3>
<div *ngFor="let issue of issues | async">

  <div class="container">
    <div class="card">
      <div class="banner">
        <p class="headline">social issue:</p>
        <p class="issue">{{issue.issue}}<p>
      </div>
      <h5 id="aboutTheIssue">About the issue:</h5>
      <p>{{issue.description}}<a href="{{issue.hyperlink}}"><em> Source</em></a></p>

      <h5 id="whoToContact">Who to contact:</h5>
      <div class="flex-container">
        <div class="flex-item">
          <img src="{{issue.image}}" style=" width: 15.625em;
          height: 15.625em;
          border-radius: 50%;
          background-position: center;
          background-size: cover;">
          <div>
            <ul class="infoList">
              <li><span class="label">Name:  </span>{{issue.name}}</li>
              <li><span class="label">Title: </span>{{issue.title}} </li>
              <li><span class="label">State: </span>{{issue.state}} </li>
              <li><span class="label">Phone: </span>{{issue.phone}} </li>
              <li><span class="label">Email: </span>{{issue.email}} </li>
              <li><span class="label">Address:  </span>{{issue.address}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="whatTo">
        <div class="buttons">
          <h5>What to say:</h5>
          <a class="waves-effect waves-light btn">  CALL SCRIPT</a>
        </div>
        <div class="buttons">
          <h5>What to write:</h5>
          <a class="waves-effect waves-light btn">  EMAIL/LETTER SCRIPT</a>
        </div>
      </div>
    </div>
  </div>
</div>
