//fonts
$header-font: 'Fjalla One', sans-serif;
$body-font: 'Lato', sans-serif;
$red : #FF0009;
$blue: #1ef3f1;

.header {
 margin-top: 5%;
  h1, h3, h5 {
    text-align: center;
    font-family: $header-font;
  }

  h3 {
    background-color: #1ef3f1;
    padding: 10px;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .card {
    width: 350px;
    height: 25em;
    border: 1px solid black;
    margin: 45px;
    position: relative;
    // padding: 5em 2em 2em 2em;

    a {
      color: black;
    }
    p{
      font-size: 80%;
    }
    .flex-container {
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: row;
     flex-direction: row;
     -webkit-align-items: center;
     align-items: center;
     flex-wrap: wrap;
     min-width: 320px;
     max-width: 1220px;
     margin-left: auto;
     margin-right: auto;

        .flex-item {
        display:flex;
        align-content: center;
        height: 10em;
        width: 85%;
        border: 1px solid #626262;
        margin-left: 5%;
        padding: 20px;

          .infoList {
            // margin-left: 1em;
            .redText{
              color: $red;
            }
          }

          img {
            flex-grow: 0;
            flex-shrink: 2;
            width: 100px;
            height: 75px;
            border-radius: 50%;
          }
        }
      }


    .banner {
      text-align: center;
      padding: 8px 20px;
      // position: absolute;
      width: 400px;
      height: 6em;
      border: 1px solid #1ef3f1;
      margin-top: -10px;
      // left: 50%;
      margin-left: -25px;
      background-color: white;
      border-top: 8px solid #1ef3f1;
      p {
        margin: 0;
        font-family: $body-font;
        // font-size: .5em;
      }
      .title {
        font-family: $header-font;
        letter-spacing: 1px;
        font-size: 115%;
        &:hover {
          color: $red;
        }
      }
    }
  }
}
