//fonts
$header-font: 'Fjalla One', sans-serif;
$body-font: 'Lato', sans-serif;

//colors
$red : #FF0009;
$blue: #1ef3f1;
$white: #f6f7eb;
$yellow: #ffd449;
$black: #2b2b2b;
$connect-blue: #0353A4;

//mixins
@mixin flex($display: null, $justify: null, $align: null) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

nav {
  box-shadow: none !important;
  background-color: white !important;
  border-bottom: 1px solid $red;
  height: 10vh;
  padding: .5%;

}
.nav-wrapper {
  background-color: white !important;
  font-family: $header-font;
  #plus {
    color: $red;
  }
  img {
    margin-left: 2%;
    width: 5.25%;
    height: auto;
    margin-right: .75%;
    &:hover {
      transform: scale(1.1,1.1);
    }
  }
  a {
    color: $blue !important;
    &:hover {
      color: $red !important;
      #plus {

          color: darken($blue, 10%)

      }
    }
  }
  .brand-logo{
    color: darken($blue, 10%) !important;
    letter-spacing: .5px;
  }
  ul{
    margin-right: 2%;
  }
}
