<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <img src="assets/image/fist.png" alt="" class="center" />
      <a href="#!" class="brand-logo">Action <span id="plus">+</span> Connection</a>
      <ul class="right hide-on-med-and-down">
      <li><a routerLink="./signup" routerLinkActive="active">Sign Up</a></li>
        <li><a routerLink="./login" routerLinkActive="active">Log In</a></li>

        <li><a href="sass.html"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="badges.html"><i class="fa fa-facebook" aria-hidden="true"></i>
        </a></li>
        <li><a href="badges.html"><i class="fa fa-instagram" aria-hidden="true"></i>
        </a></li>
        <li><a href="badges.html"><i class="fa fa-rss" aria-hidden="true"></i>
        </a></li>
        <li><a href="badges.html"><i class="fa fa-facebook" aria-hidden="true"></i>
        </a></li>
    </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
