//fonts
$header-font: 'Fjalla One', sans-serif;
$body-font: 'Lato', sans-serif;

//colors
$red : #FF0009;
$blue: #1ef3f1;
$white: #f6f7eb;
$yellow: #ffd449;
$black: #2b2b2b;
$connect-blue: #0353A4;
//media quaries

$break-sm: 480px; //max
$break-md: 768px; //min
$break-Pro: "(min-width: 789px) and (max-width: 1279px)";
$break-lg: 1280px; //max
$break-xl: 1440px; //min
//mixins
@mixin flex($display: null, $justify: null, $align: null) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

nav {
  box-shadow: none !important;
  background-color: white !important;
  border-bottom: 1px solid $red;
  height: 10vh;
  // padding: .5%;

}
.nav-wrapper {
  background-color: white !important;
  font-family: $header-font;

  #plus {
    color: $red;
  }
  img {
    margin-left: 2%;
    width: 5.25%;
    height: auto;
    margin-right: .75%;
    &:hover {
      transform: scale(1.1,1.1);
    }
    @media screen and (max-width: $break-sm) {
      display: none;
     }
  }
  a {
    color: $blue !important;
    &:hover {
      color: $red !important;
      #plus {

          color: darken($blue, 10%)

      }
    }
  }
  .brand-logo{
    color: darken($blue, 10%) !important;
    letter-spacing: .5px;
  }
  ul{
    margin-right: 2%;
  }
}
