<div class="row">
  <div>
    <h1>Add New Volunteer Opportunity</h1>
    <h3>All fields are required</h3>
  </div>
</div>

  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input type="text" #volunteertitle>
        <label>Title</label>
      </div>
      <div class="input-field col s6">
        <input type="text" #volunteersiteUrl>
        <label>Site URL</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="text" #volunteerimage>
        <label>Image</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3">
        <input type="text" #volunteerdate>
        <label>Date</label>
      </div>
      <div class="input-field col s3">
        <input type="text" #volunteertime>
        <label>Time</label>
      </div>
      <div class="input-field col s6">
        <input type="text" #volunteerlocation>
        <label>Location</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="text" #volunteerdetailedLocation>
        <label>Address</label>
      </div>
    </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" #volunteerdescription>
          <label>Short Event Description</label>
        </div>
      </div>
    <button class="btn waves-effect waves-light"  (click)="submitVolunteerEvent(volunteerimage.value, volunteertitle.value, volunteerdate.value, volunteertime.value, volunteerlocation.value, volunteerdetailedLocation.value, volunteerdescription.value, volunteersiteUrl.value); volunteerimage.value=''; volunteertitle.value=''; volunteerdate.value=''; volunteertime.value=''; volunteerlocation.value=''; volunteerdetailedLocation.value=''; volunteerdescription.value=''; volunteersiteUrl.value=''; ">Add</button>


    <br><br><br><br>

    <div class="row">
      <div>
        <h1>Add New Connection Opportunity</h1>
        <h3>All fields are required</h3>
      </div>
    </div>

      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input type="text" #title>
            <label>Title</label>
          </div>
          <div class="input-field col s6">
            <input type="text" #siteUrl>
            <label>Site URL</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" #image>
            <label>Image</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s3">
            <input type="text" #date>
            <label>Date</label>
          </div>
          <div class="input-field col s3">
            <input type="text" #time>
            <label>Time</label>
          </div>
          <div class="input-field col s6">
            <input type="text" #location>
            <label>Location</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" #detailedLocation>
            <label>Address</label>
          </div>
        </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="text" #description>
              <label>Short Event Description</label>
            </div>
          </div>
        <button class="btn waves-effect waves-light"  (click)="submitConnectEvent(image.value, title.value, date.value, time.value, location.value, detailedLocation.value, description.value, siteUrl.value); image.value=''; title.value=''; date.value=''; time.value=''; location.value=''; detailedLocation.value=''; description.value=''; siteUrl.value=''; ">Add</button>
