<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Action COnnection</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="circle-links">
  <div class="act">
    <a routerLink="act">Act</a>

  </div>
  <div class="volunteer">
    <a routerLink="volunteer">Volunteer</a>

  </div>
  <div class="connect">
    <a routerLink="connect">Connect</a>

  </div>

</div>
<div class="call">
<h5>call to action</h5>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
</div>
