<div class="circle-links">
  <div class="title-one">
    <h3>Get Involved</h3>
  </div>
  <div class="circles">
    <div  routerLink="act" class="act overlay">
      <a>Act</a>
    </div>
    <div class="arrow">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <div routerLink="volunteer" class="volunteer overlay">
      <a>Volunteer</a>
    </div>
    <div class="arrow">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <div  routerLink="connect" class="connect overlay">
      <a>Connect</a>
    </div>
  </div>
</div>
<div class="call">
<h5>It's Time for Action</h5>
<p>
  Whether we feel as if we're drowning in bad news and don't know where to start, or we worry we don't have the time it takes to participate, it's too often just easier to complain about a policy or a politician than to do anything about it. That's why this weekend's Women's Marches were so exciting—millions of people gathered to show solidarity and support for one another—and so worrying in the absence of a defined plan. We've all got opinions when it comes to politics, but getting involved in a meaningful way is another story.
</p>
<p>
  It doesn't have to be—it shouldn't be—difficult. "A strong democracy requires our participation, not just our votes," says Jennifer Epps-Addison, network president and co–executive director for The Center for Popular Democracy.
</p>
<p>
  Ready to do more? You're in the right place. Here, find policies you can act one, and volunteer and social events to get you networking, all moves you can make that won't take over your whole life but will guarantee you make a difference.
</p>
</div>

<div class="main">
  <div class="top">
    <div class="box">
      <h4>
        ACT
      </h4>
      <p>
        In this section find the lastest issues affecting the country today, and who to contact to get your voice heard. Make sure to check out the easy to follow scripts at the bottom of each issue.
      </p>
      <div class="overlay"> </div>
      <div id="phone">
        <img src="assets/image/phone-1.png" alt="" />
        <!-- <div class="dots"> -->
        <div class="whiteBox">

        </div>
          <p class="calling">
            calling <span>.</span><span>.</span><span>.</span>
          </p>
        <!-- </div> -->
      </div>
    </div>

  </div>
  <div class="middle">
    <div class="box">
      <h4>
        VOLUNTEER
      </h4>
      <p>
        Want to get out there in person? Here are a list of volunteer opportunities to get you out of the house and helping your community.
      </p>
      <div class="overlay"> </div>
      <div class="scroll-box"></div>
      <div id="heart">
        <img src="assets/image/volunteer.png" alt="" />
      </div>
    </div>

  </div>
  <div class="bottom">
    <div class="box">
      <h4>
        CONNECT
      </h4>
      <p>
        Networking and meeting like-minded people can be difficult, but ultimately rewarding. It takes people coming together to change the world. Here find sociopolitical events in your area.
      </p>
      <div class="overlay"> </div>
      <div id="hands-hold">
        <img src="assets/image/hands.png" alt="" />
      </div>
    </div>
  </div>
</div>
