//fonts
$header-font: 'Fjalla One', sans-serif;
$body-font: 'Lato', sans-serif;

//colors
$red: #c91435;
$blue: #103556;
$white: #f6f7eb;
$yellow: #ffd449;
$black: #2b2b2b;


//styling
nav {
  box-shadow: none !important;
  border-bottom: 1px solid black;
}
.nav-wrapper {
  background-color: white !important;
  font-family: $header-font;
  a{
    color: $black !important;
  }
}
