//fonts
$header-font: 'Fjalla One', sans-serif;
$body-font: 'Lato', sans-serif;

//colors
$red: #c91435;
$blue: #103556;
$white: #f6f7eb;
$yellow: #ffd449;
$black: #2b2b2b;

//mixins
@mixin flex($display: null, $justify: null, $align: null) {
  display: $display;
  justify-content: $justify;
  align-items: $align;

}


//styling
nav {
  box-shadow: none !important;
  background-color: white !important;
  border-bottom: 1px solid black;
  height: 10vh;
  padding: .5%;

}
.nav-wrapper {
  background-color: white !important;
  font-family: $header-font;
  img {
    margin-left: 2%;
    width: 5.25%;
    height: auto;
    margin-right: .75%;
  }
  a{
    color: $black !important;
  }
  ul{
    margin-right: 2%;
  }
}

.circle-links {
  height: 45vh;
  .circles {
    a{
      font-family: $header-font;
      letter-spacing: 1px;
      color: $white;
      font-size: 2em;
      text-shadow: 2px 2px 4px #000000; 
    }
    display: flex;
    justify-content: center;
    margin-top: 5%;
    .act {
      @include flex(flex, center, center);
      margin: 5% ;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background-color: $red;
    }
    .volunteer {
      margin: 5%;
      @include flex(flex, center, center);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background-color: $yellow;
    }
    .connect {
      margin: 5%;
      @include flex(flex, center, center);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background-color: $blue;
    }
  }
}

.call {
  height: 45vh;
  padding: 5%;
  background-color: #8792A3;
  color: white;
  p {
    font-family: $body-font;
  }
}

.main {
  .top {
    height: 60vh;
    background-color: white;
    padding-left: 110px;
    padding-top: 125px;
    .box {
      height: 300px;
      width: 500px;
      background-color: white;
      padding:  45px;
      position: relative;
      margin-left: 400px;
      border: 1px solid $red;

      #phone {
        position: absolute;
        right: -290px;
        top: -100px;
        transform: rotate(-20deg);
        img {
          height: 400px;
        }
      }
    }
    // .box {
    //   height: 300px;
    //   width: 500px;
    //   background-color: white;
    //   padding:  45px;
    //   position: absolute;
    //   margin-left: 400px;
    //   border: 1px solid black;
    //
    //   #phone {
    //     position: relative;
    //     right: -350px;
    //     top: -230px;
    //     transform: rotate(-20deg);
    //     img {
    //       height: 400px;
    //     }
    //   }
    // }
  }

  .middle {
    height: 60vh;
    background-color: white;
    padding-left: 400px;
    padding-top: 125px;
    .box {
      height: 300px;
      width: 500px;
      background-color: white;
      padding:  45px;
      position: relative;
      margin-right: 20px;
      border: 1px solid $yellow;

      #heart {
        position: absolute;
        right: 475px;
        top: 0;
        transform: rotate(-20deg);
        img {
          height: 350px;
        }
      }
    }

  }

  .bottom {
    height: 60vh;
    background-color: white;
    padding-left: 400px;
    padding-top: 125px;
  }
  .box {
    height: 300px;
    width: 500px;
    background-color: white;
    padding:  45px;
    position: relative;
    margin-right: 20px;
    border: 1px solid $blue;

    #hands-hold {
      position: absolute;
      left: 250px;
      top: 0;
      // transform: rotate(-25deg);
      img {
        height: 550px;
      }
    }
  }

}
