//fonts
$header-font: 'Fjalla One', sans-serif;
$body-font: 'Lato', sans-serif;

//colors
$red : #FF0009;
$blue: #1ef3f1;
$white: #f6f7eb;
$yellow: #ffd449;
$black: #2b2b2b;
$connect-blue: #0353A4;
//media quaries
$break-sm: 480px; //max
$break-md: 768px; //min
$break-Pro: "(min-width: 789px) and (max-width: 1279px)";
$break-lg: 1280px; //max
$break-xl: 1440px; //min

//mixins
@mixin flex($display: null, $justify: null, $align: null) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

//styling


.circle-links {
  height: 500px;
  @media screen and (max-width: $break-lg) {
    height: 175px;
   }
  @media screen and (max-width: $break-sm) {
    height: 850px;
   }
   @media screen and (min-width: $break-md) {
     height: 400px;
    }
  .title-one{
    text-align: center;
    width: 100%;
    margin-top: 5%;
    font-family: $body-font;
    @media screen and (min-width: $break-md) {
      margin-top: 7%;
     }
    h2{
      color: $black;
      letter-spacing: 4px;
      font-size: 4.7em;
    }
  }
  .circles {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $break-sm) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
     }
    .arrow {
      margin-top: auto;
      margin-bottom: auto;
      @media screen and (max-width: $break-sm) {
        align-self: center;
       }
      i{
        color: darken($blue, 10%);
      }
    }
    .overlay {
      position: relative;
    }
    .overlay:after {
      position: absolute;
      content:"";
      top:0;
      left:0;
      width:100%;
      height:100%;
      opacity:0;
      border-radius: 50%;
    }
    .overlay:hover:after  {
      opacity: .5;
    }
    a{
      font-family: $header-font;
      letter-spacing: 1.5px;
      color: $white;
      font-size: 2em;
      text-shadow: 2px 2px 4px #000000;
      @media screen and (max-width: $break-sm) {
        font-size: 1.7em;
       }
    }
    display: flex;
    justify-content: center;

    .act {
      @include flex(flex, center, center);
      margin: 5% ;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background-image: url('assets/image/act-phone.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @media screen and (min-width: $break-md) {
        margin: 3% ;
        width: 200px;
        height: 200px;
       }
      @media screen and (max-width: $break-sm) {
        width: 175px;
        height: 175px;
        align-self: center;
       }
      &:hover {
        transform: scale(1.1,1.1);
      }
      &:after {
        background-color: $red;
        transition-duration: 0.4s;
        transition-timing-function: initial;
        transition-delay: initial;
      }
    }
    .volunteer {
      margin: 5%;
      @include flex(flex, center, center);
      flex-grow: 0;
      flex-shrink: 2;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background-image: url('assets/image/volunteer-hands.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @media screen and (min-width: $break-md) {
        margin: 3% ;
        width: 200px;
        height: 200px;
       }
      @media screen and (max-width: $break-sm) {
        width: 175px;
        height: 175px;
        align-self: center;
       }
      &:hover {
        transform: scale(1.1,1.1);
      }
      &:after {
        background-color: $yellow;
        transition-duration: 0.4s;
        transition-timing-function: initial;
        transition-delay: initial;
      }
    }
    .connect {
      margin: 5%;
      @include flex(flex, center, center);
      flex-grow: 0;
      flex-shrink: 2;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background-image: url('assets/image/hands-shaking.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @media screen and (min-width: $break-md) {
        margin: 3% ;
        width: 200px;
        height: 200px;
       }
      @media screen and (max-width: $break-sm) {
        width: 175px;
        height: 175px;
        align-self: center;
       }
      &:hover {
        transform: scale(1.1,1.1);
      }
      &:after {
        background-color: $blue;
        transition-duration: 0.2s;
        transition-timing-function: initial;
        transition-delay: initial;
      }
    }
  }
}

.call {
  height: 500px;
  padding: 5%;
  background-color: #8792A3;
  color: white;
  @media screen and (max-width: $break-sm) {
    height: 100%;
   }
  h5 {
    margin-left: 5%;
    font-family: $header-font;
    letter-spacing: 1.5px;
    font-size: 2em;

  }
  p {
    font-family: $body-font;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 130%;
    letter-spacing: 1px;
    font-size: 1.16em;
    @media screen and (min-width: $break-md) {
     font-size: 100%;
     }
       @media #{$break-Pro} {
         font-size: 110%;
       }
  }
}

.main {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $break-sm) {
    display: none;
  }
  @media #{$break-Pro} {
      margin-left: 150px;
   }
   @media screen and (min-width: $break-lg) {
     margin-left: 200px;
    //  background-color: pink;
  }
  @media screen and (min-width: $break-xl) {
    margin-left: 300px;
  }

  .top {
    margin-left: 35%;
    height: 25vh;
    background-color: white;
    margin-top: 12%;
    @media screen and (max-width: $break-lg) {
      margin-left: 5%;
     }

     @media screen and (min-width: $break-xl) {
       margin-left: 300px;
       margin-top: 5%;
     }
   @media #{$break-Pro} {
       margin: 0;

      //  background-color: pink;
    }
     @media screen and (min-width: $break-md) {
       margin-left: 7%;
       margin-top: 15%;
      }
    .box {
      height: 300px;
      width: 600px;

      @media screen and (min-width: $break-md) {
        height: 250px;
        width: 450px;
       }
      h4 {
        font-family: $header-font;
        letter-spacing: 2px;
        color: darken($blue, 10%);
      }
      p {
        font-family: $body-font;
        color: black;
      }
      background-color: white;
      // padding:  45px;
      position: relative;
      // margin-left: 400px;
      border: 3px solid $red;

      .overlay {
        position: absolute;
        left: 563px;
        top: -55px;
        height: 205px;
        width: 100px;
        background: white;
        transform: rotate(-20deg);
        @media screen and (min-width: $break-md) {
          display: none;
        }
      }
      #phone {
        position: absolute;
        right: -290px;
        top: -99px;
        transform: rotate(-20deg);
      @media #{$break-Pro} {
          left: 555px;
          top: -60px;
          width: 200px;
          transform: rotate(-25deg);
         }
        @media screen and (min-width: $break-md) {
          left: 355px;
          top: -60px;
          width: 200px;
          transform: rotate(-25deg);
         }
        img {
          height: 400px;
        @media #{$break-Pro} {
            height: 320px;
            position: relative;
            z-index: 1;
           }
          @media screen and (min-width: $break-md) {
            height: 300px;
            position: relative;
            z-index: 1;
           }
        }
        .whiteBox {
          height: 200px;
          width: 100px;
          background-color: white;
          position: absolute;
          top: 30px;
          left: 80px;

        }
        .calling {
          color: $black;
          position: absolute;
          top: 120px;
          left: 155px;
          letter-spacing: 2px;
          @media screen and (min-width: $break-md) {
            top: 100px;
            left: 100px;
           }
         @media #{$break-Pro} {
             top: 75px;
             left: 93px;
          }
        }

        .calling span {
          font-size: 50px;
          animation-name: blink;
          animation-duration: 1.4s;
          animation-iteration-count: infinite;
          animation-fill-mode: both;
        }

        .calling span:nth-child(2) {
          animation-delay: .2s;
        }

        .calling span:nth-child(3) {
          animation-delay: .4s;
        }

        @keyframes blink {
          0% {
            opacity: .2;
          }
          20% {
            opacity: 1;
          }
          100% {
            opacity: .2;
          }
        }
      }
    }
  }

  .middle {
    height: 35vh;
    background-color: white;
    padding-left: 400px;
    padding-top: 125px;
    @media screen and (min-width: $break-md) {
      padding: 0;
      left: 50px;
    }
    @media screen and (max-width: $break-lg) {
     margin-top: 6%;
     }
     @media screen and (min-width: $break-xl) {
       margin-top: 5%;
     }
     @media #{$break-Pro} {
         height: 25vh;
         margin: 0;
      }
    .box {
      height: 300px;
      width: 550px;
      background-color: white;
      padding:  45px;
      position: relative;
      margin-right: 20px;
      border: 3px solid $yellow;
      @media screen and (min-width: $break-md) {
        height: 250px;
        width: 450px;
        margin: 0;
        left: 230px;
        top: 50px;
       }

      .overlay {
        position: absolute;
        left: -209px;
        top: 60px;
        height: 115px;
        width: 100px;
        background: $yellow;
        @media screen and (min-width: $break-md) {
          left: -150px;
          top: 50px;
          height: 100px;
         }
      }
      .scroll-box {
      width: 100%;
      position: fixed;
      z-index: -1;
    }

      h4 {
        font-family: $header-font;
        letter-spacing: 2px;
        color: darken($blue, 10%);
      }
      p {
        font-family: $body-font;
        color: $black;
        margin-left: 2%;
      }

      #heart {
        position: absolute;
        right: 500px;
        top: 0;
        transform: rotate(-20deg);
        @media screen and (min-width: $break-md) {
          left: -200px;
          top: 50px;
         }
        img {
          height: 350px;
          @media screen and (min-width: $break-md) {
            height: 250px;
           }
        }
      }
    }

  }

  .bottom {
    margin-left: 35%;
    height: 30vh;
    background-color: white;
    margin-top: 10%;
    @media #{$break-Pro} {
        margin-top: 0;
     }
     @media screen and (min-width: $break-md) {
      margin-top: 5%;
      margin-left: 7%;
      }
      @media screen and (max-width: $break-lg) {
       margin-top: 8%;
       margin-left: 7%;
       }
  }
  .box {
    height: 300px;
    width: 600px;
    background-color: white;
    padding:  45px;
    position: relative;
    margin-right: 20px;
    border: 3px solid $blue;
    @media screen and (min-width: $break-md) {
      height: 250px;
      width: 450px;
     }

    h4 {
      font-family: $header-font;
      letter-spacing: 2px;
      color: darken($blue, 10%);
    }
    p {
      font-family: $body-font;
      color: $black;
      margin-left: 2%;
    }

    .overlay {
      position: absolute;
      left: 455px;
      // top: -55px;
      height: 250px;
      width: 200px;
      background: white;
      transform: rotate(90deg);
      border-radius: 25%;
      @media screen and (min-width: $break-md) {
        height: 150px;
        width: 100px;
        left: 413px;
        top: 150px;
       }
    }

    #hands-hold {
      position: absolute;
      left: 320px;
      top: 0;
      @media screen and (min-width: $break-md) {
        left: 300px;
        top: 25px;
       }
      img {
        height: 550px;
        @media screen and (min-width: $break-md) {
          height: 375px;

         }
      }
    }
  }

}
