//fonts
$header-font: 'Fjalla One', sans-serif;
$body-font: 'Lato', sans-serif;

//colors
$red: #c91435;
$blue: #103556;
$white: #f6f7eb;
$yellow: #ffd449;
$black: #2b2b2b;

//mixins
@mixin flex($display: null, $justify: null, $align: null) {
  display: $display;
  justify-content: $justify;
  align-items: $align;

}


//styling
nav {
  box-shadow: none !important;
  border-bottom: 1px solid black;
}
.nav-wrapper {
  background-color: white !important;
  font-family: $header-font;
  a{
    color: $black !important;
  }
}

.circle-links {
  display: flex;
  justify-content: center;

  .act {
    @include flex(flex, center, center);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $red;
  }
  .volunteer {
    @include flex(flex, center, center);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $red;
  }
  .connect {
    @include flex(flex, center, center);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $red;
  }
}
