<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <img src="assets/image/fist.png" alt="" class="center" />
      <a href="#!" class="brand-logo">Action <span id="plus">+</span> Connection</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="badges.html"><i class="fa fa-facebook" aria-hidden="true"></i>
        </a></li>
        <li><a href="badges.html"><i class="fa fa-instagram" aria-hidden="true"></i>
        </a></li>
        <li><a href="badges.html"><i class="fa fa-rss" aria-hidden="true"></i>
        </a></li>
        <li><a href="badges.html"><i class="fa fa-facebook" aria-hidden="true"></i>
        </a></li>
    </ul>
    </div>
  </nav>
</div>

<div class="circle-links">
  <div class="title-one">
    <h2>Get Involved</h2>
  </div>
  <div class="circles">
    <div class="act overlay">
      <a routerLink="act">Act</a>
    </div>
    <div class="arrow">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <div class="volunteer overlay">
      <a routerLink="volunteer">Volunteer</a>
    </div>
    <div class="arrow">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <div class="connect overlay">
      <a routerLink="connect">Connect</a>
    </div>
  </div>
</div>
<div class="call">
<h5>It's Time for Action</h5>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
</div>

<div class="main">
  <div class="top">
    <div class="box">
      <p>
        ACT
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div id="phone">
        <img src="assets/image/phone-1.png" alt="" />
      </div>
    </div>

  </div>
  <div class="middle">
    <div class="box">
      <p>
        VOLUNTEER
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div id="heart">
        <img src="assets/image/volunteer.png" alt="" />
      </div>
    </div>

  </div>
  <div class="bottom">
    <div class="box">
      <p>
        CONNECT
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div id="hands-hold">
        <img src="assets/image/hands.png" alt="" />
      </div>
    </div>
  </div>
</div>
